* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
}
 html {
   min-width: 320px;
}
 .container {
   width: 100%;
   height: 100%;
   max-width: 1170px;
   min-width: 320px;
   z-index: 2;
}
 header {
   position: absolute;
   z-index: 5;
   width: 100%;
   height: 83px;
   display: flex;
   justify-content: center;
}
 header .container {
   display: flex;
   justify-content: flex-end;
}
 header .container .logo {
   display: flex;
   align-items: center;
   margin-right: 87px;
}
 header .container .logo #great-img {
   animation: rotate;
   animation-duration: 5s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}
 header .container .logo #image {
   animation: rotate-2;
   animation-duration: 2.5s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   margin-right: 17px;
}
 header .container .logo p {
   font-size: 22px;
   font-weight: 500;
   color: #383334;
}
 header .info {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 650px;
}
 header .info .item {
   display: flex;
   align-items: center;
   justify-content: flex-start;
}
 header .info .item img {
   margin-right: 12px;
}
 header .info .item p {
   text-align: left;
}
 main {
   min-width: 320px;
   display: flex;
   flex-direction: column;
}
 main h1 {
   font-size: 44px;
}
 main h2 {
   font-size: 47px;
}
 main .first {
   width: 100%;
   height: 720px;
   position: relative;
   display: flex;
   justify-content: center;
}
 main .first .container {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   z-index: 2;
   position: absolute;
}
 main .first .container .transparent-block {
   display: none;
   position: absolute;
   border-bottom-right-radius: 43%;
   width: 100%;
   height: 620px;
   background-color: #f1f6f7;
   z-index: 2;
   opacity: 0.8;
}
 main .first .container .img-container {
   position: absolute;
   left: -220px;
   width: 760px;
   height: 835px;
   margin-right: 14px;
   z-index: -4;
}
 main .first .container .img-container .legs {
   z-index: 1;
   position: absolute;
   width: 700px;
}
 main .first .container .img-container .circle-are {
   z-index: 0;
   width: 100%;
   height: 100%;
   top: 7%;
   position: relative;
}
 main .first .container .img-container .circle-are .circle-border {
   position: absolute;
   top: 10%;
   right: 22%;
}
 main .first .container .img-container .circle-are .circle {
   position: absolute;
   top: 17%;
   right: 10%;
   width: 571px;
   height: 572px;
   border-radius: 50%;
   background-image: url("../img/background.png");
   background-size: cover;
   z-index: -1;
}
 main .first .container .img-container #products {
   position: absolute;
   bottom: -60px;
   right: -20px;
   z-index: 6;
}
 main .first .container .info-block {
   width: 370px;
   height: 520px;
   font-family: Roboto, sans-serif;
   margin-right: 40px;
}
 main .first .container .info-block .title {
   margin-bottom: 47px;
}
 main .first .container .info-block .title h1 {
   color: #383334;
   width: 300px;
   margin-bottom: 0;
}
 main .first .container .info-block .title .underline {
   font-size: 34px;
   font-weight: 900;
   color: #383334;
}
 main .first .container .info-block .title .orange {
   position: relative;
   z-index: 1;
}
 main .first .container .info-block .title .orange:after {
   z-index: -1;
   content: "";
   height: 5px;
   position: absolute;
   left: 0;
   right: 0;
   bottom: 1px;
   background-color: #ff6b00;
}
 main .first .container .info-block .title .green {
   position: relative;
   z-index: 1;
   margin-bottom: 47px;
}
 main .first .container .info-block .title .green:after {
   z-index: -1;
   content: "";
   height: 5px;
   position: absolute;
   left: 0;
   right: 0;
   bottom: 1px;
   background-color: #a7c93d;
}
 main .first .container .info-block .points {
   display: flex;
   flex-direction: column;
   background-image: url("../img/arrow-plus.png");
   background-repeat: no-repeat;
   background-position: 25px 62px;
}
 main .first .container .info-block .points .point {
   font-family: Roboto, sans-serif;
   font-size: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}
 main .first .container .info-block .points .point:not(:last-child) {
   margin-bottom: 40px;
}
 main .first .container .info-block .points .point:first-child .circle:after {
   content: "2в1";
}
 main .first .container .info-block .points .point:nth-child(2) .circle:after {
   content: "1";
}
 main .first .container .info-block .points .point:last-child .circle:after {
   content: "2";
}
 main .first .container .info-block .points .point .circle {
   border-radius: 50%;
   width: 60px;
   height: 60px;
   padding: 12px 20px;
   margin-right: 20px;
   background-color: #a7c93d;
   border: 7px solid #e8edc9;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
}
 main .first .container .order-form {
   margin-top: 40px;
   margin-right: 20px;
   width: 270px;
   height: 555px;
   background-color: white;
   border: 7px solid #a8ca3f;
   border-radius: 15px;
   position: relative;
   z-index: 3;
}
 main .first .container .order-form .free {
   display: flex;
   padding: 0 11px 13px 11px;
   position: absolute;
   border: 6px solid #a8ca3f;
   border-top: none;
   border-radius: 0 0 10px 10px;
   left: 50%;
   top: -8px;
   background-color: #edf7f9;
   transform: translate(-50%,0);
   font-size: 16px;
   color: #383334;
}
 main .first .container .order-form .free img {
   margin-right: 9px;
}
 main .first .container .order-form .content {
   height: 100%;
   padding: 48px 18px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-direction: column;
}
 main .first .container .order-form .content:after {
   position: absolute;
   right: -30px;
   bottom: 49%;
   transform: translate(0,50%);
   content: url("../img/arrow.png");
   width: 49px;
   height: 233px;
}
 main .first .container .order-form .content p {
   margin-bottom: 10px;
   font-size: 20px;
   text-align: center;
}
 main .first .container .order-form .content p span {
   color: #ff6b00;
}
 main .first .container .order-form .content .prices {
   display: flex;
}
 main .first .container .order-form .content .prices .old-price {
   margin-right: 18px;
}
 main .first .container .order-form .content .prices .old-price .old {
   font-size: 14px;
   color: #8f8f8f;
   margin-bottom: 18px;
}
 main .first .container .order-form .content .prices .old-price .cross {
   position: relative;
}
 main .first .container .order-form .content .prices .old-price .cross p {
   color: black;
   font-size: 34px;
   z-index: 1;
}
 main .first .container .order-form .content .prices .old-price .cross .mark {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-image: url("../img/cross.png");
   background-repeat: no-repeat;
   background-position: center;
   z-index: 2;
}
 main .first .container .order-form .content .prices .new-price p {
   font-size: 14px;
   font-weight: 700;
}
 main .first .container .order-form .content .prices .new-price p:first-child {
   margin-bottom: 10px;
}
 main .first .container .order-form .content .prices .new-price p:last-child {
   font-size: 34px;
   border-radius: 5px;
   padding: 8px 10px;
   background-color: #ffc002;
}
 main .first .container .order-form .content .prices .new-price p:last-child b {
   margin-left: 8px;
   font-weight: 700;
}
 main .first .container .order-form .content .form {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
 main .first .container .order-form .content .form input {
   width: 100%;
   height: 65px;
   margin-bottom: 10px;
   border-radius: 35px;
   outline: none;
   border: none;
   background-color: #eef2f7;
   padding-left: 55px;
   position: relative;
}
 main .first .container .order-form .content .form #man {
   background-image: url("../img/man.png");
   background-repeat: no-repeat;
   background-position: 21px center;
}
 main .first .container .order-form .content .form #phone {
   background-image: url("../img/phone.png");
   background-repeat: no-repeat;
   background-position: 21px center;
   margin-bottom: 15px;
}
 main .first .container .order-form .content .form #button {
   width: 100%;
   height: 70px;
   border-radius: 35px;
   background-color: #ffc002;
   outline: none;
   border: none;
   position: relative;
   font-size: 16px;
   font-weight: 900;
   margin-bottom: 20px;
}
 main .first .container .order-form .content .form #button:after {
   position: absolute;
   content: url("../img/border-in.png");
   top: 5px;
   bottom: 0;
   left: 0;
   right: 0;
}
 main .first .container .order-form .content .form #button span {
   font-size: 28px;
}
 main .first .container .order-form .content .lost {
   margin-bottom: 15px;
}
 main .first .container .order-form .content .lost #green {
   color: #9dbd39;
}
 main .first .container .order-form .content .protect {
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   width: 100%;
   height: 44px;
   bottom: 0;
   background-color: #eef2f7;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}
 main .first .container .order-form .content .protect img {
   margin-right: 11px;
}
 main .first .container .order-form .content .protect p {
   color: #8f8f8f;
   font-size: 14px;
   margin: 0;
}
 main .first .container .pills {
   display: none;
   width: 100%;
   height: 200px;
   background-image: url("../img/produts-out-treepng.png");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center 15px;
}
 main .first .background-img {
   width: 100%;
   height: 100%;
}
 main .first .background-img .image {
   z-index: 1;
   position: absolute;
   width: 100%;
   height: 100%;
   background-image: url("../img/background-opacity.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: left;
}
 main .first .background-img .translucent-block {
   z-index: -1;
   position: absolute;
   opacity: 0.1;
   width: 100%;
   height: 100%;
   background-color: #edf7f9;
}
 main .first #wave {
   width: 100%;
   height: 179px;
   position: absolute;
   background-image: url("../img/top-wave.png");
   bottom: -90px;
   z-index: 1;
}
 main .second {
   height: 950px;
   padding: 147px 20px 57px 20px;
   display: flex;
   justify-content: center;
}
 main .second .container {
   display: flex;
   flex-direction: column;
   align-items: center;
}
 main .second .container img {
   margin-bottom: 15px;
}
 main .second .container h2 {
   margin-bottom: 40px;
   color: #383334;
}
 main .second .container h2 + p {
   font-size: 24px;
   margin-bottom: 50px;
   color: #383334;
   font-weight: 900;
}
 main .second .container .effects {
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-bottom: 60px;
}
 main .second .container .effects .example {
   width: 33.3333333%;
   min-width: 320px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}
 main .second .container .effects .example .top-block {
   position: relative;
   display: flex;
   align-items: center;
   width: 320px;
   font-size: 22px;
   font-weight: 500;
   margin-bottom: 54px;
   line-height: 1.2;
}
 main .second .container .effects .example .top-block .top-block-img-container {
   position: relative;
   width: auto;
}
 main .second .container .effects .example .top-block img {
   margin-right: 20px;
}
 main .second .container .effects .example .top-block + p {
   width: 302px;
   color: #444444;
   font-size: 18px;
   line-height: 1.5;
}
 main .second .container .effects .example:first-child .top-block .top-block-img-container:after {
   content: url("../img/border-1.png");
   position: absolute;
   top: -20px;
   left: -20px;
}
 main .second .container .effects .example:nth-child(2) .top-block .top-block-img-container:after {
   content: url("../img/border-2.png");
   position: absolute;
   top: -20px;
   left: -20px;
}
 main .second .container .effects .example:last-child .top-block .top-block-img-container:after {
   content: url("../img/border-3.png");
   position: absolute;
   top: -20px;
   left: -20px;
}
 main .second .container .effects .line {
   position: relative;
}
 main .second .container .effects .line:after {
   content: "";
   width: 50px;
   height: 3px;
   position: absolute;
   top: -20px;
   left: 0;
   background-color: #becbd8;
}
 main .second .container .statistic {
   border: 3px solid #f4d3bb;
   padding: 38px 85px;
   position: relative;
   border-radius: 10px;
}
 main .second .container .statistic::after {
   content: "";
   position: absolute;
   width: 170px;
   height: 3px;
   background-color: white;
   top: -3px;
   left: 50%;
   transform: translateX(-50%);
}
 main .second .container .statistic img {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   top: -20px;
   z-index: 2;
}
 main .second .container .statistic p {
   font-size: 22px;
   text-align: center;
}
 
 @media only screen and (max-width: 992px) {
   main .fifth .container .glass-with-product-and-instruction {
     flex-direction: column;
     align-items: center;
  }
}
 @keyframes rotate {
   from {
     transform: rotate(0deg);
  }
   to {
     transform: rotate(360deg);
  }
}
 @keyframes rotate-2 {
   from {
     transform: rotate(0deg);
  }
   to {
     transform: rotate(-360deg);
  }
}















@media screen and (max-width: 1150px) {
  header .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  main .first {
    height: 820px;
  }
  main .first .container {
    padding: 80px 0;
    justify-content: center;
    flex-wrap: wrap;
  }
  main .first .container .img-container {
    height: 200px;
    top: 40px;
    left: -300px;
  }
  main .first .container .img-container .transparent-block {
    display: block;
  }
  main .first .container .img-container #products {
    display: none;
  }
  main .first .container .pills:last-child {
    display: block;
  }
  main .second {
    height: auto;
  }
  main .second .container p {
    text-align: center;
  }
  main .second .container .effects {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  main .second .container .effects .example {
    align-items: center;
    width: 50%;
  }
  main .second .container .effects .example:first-child {
    margin-bottom: 40px;
    align-items: center;
  }
  main .second .container .effects .example:first-child .top-block:after {
    left: 36px;
  }
  main .second .container .effects .example:nth-child(2) {
    margin-bottom: 40px;
    align-items: center;
  }
  main .second .container .effects .example:nth-child(2) .top-block:after {
    left: 63px;
  }
  main .second .container .effects .example:last-child .top-block:after {
    left: 112px;
  }
  main .second .container .effects .example .top-block {
    width: 50%;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
  }
  main .second .container .effects .example .line:after {
    display: none;
  }
  
}
@media screen and (max-width: 932px) {
  header .container {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 18px;
  }
  header {
    position: static;
  }
  header .container {
    justify-content: center;
  }
  header .container .logo {
    margin: 0;
  }
  header .container .info {
    display: none;
  }
  main #wave,
  main #wave-2,
  main #wave-3,
  main #wave-4 {
    display: none;
  }
  main h1 {
    font-size: 1.5rem;
  }
  main h2 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    padding: 0 20px;
    text-align: center;
  }
  main .first {
    background-color: #edf7f9;
    height: auto;
  }
  main .first .container {
    padding: 20px 0 20px 0;
    flex-wrap: wrap;
    justify-content: center;
    position: static;
  }
  main .first .container .img-container {
    display: none;
  }
  main .first .container .info-block {
    height: auto;
    margin: 0 0 20px 0;
    text-align: center;
  }
  main .first .container .info-block .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  main .first .container .info-block .title h1 {
    margin-right: 0;
  }
  main .first .container .info-block .title .underline {
    font-size: 1.5rem;
  }
  main .first .container .info-block .points {
    text-align: left;
    background-image: none;
    padding: 0 20px;
  }
  main .first .container .info-block .points .point {
    font-size: 0.9rem;
  }
  main .first .container .info-block .points .point:not(:last-child) {
    margin-bottom: 20px;
  }
  main .first .container .pills {
    display: flex;
    background-color: white;
    margin-bottom: 20px;
  }
  main .first .container .pills:last-child {
    display: none;
  }
  main .first .container .order-form {
    margin-top: 0;
  }
  main .first .background-img {
    display: none;
  }
  main .second {
    height: auto;
    padding: 0;
  }
  main .second .container {
    padding: 20px;
  }
  main .second .container h2 + p {
    font-size: 1rem;
    text-align: center;
  }
  main .second .container .effects {
    justify-content: center;
    margin-bottom: 0;
  }
  main .second .container .effects .example {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
  }
  main .second .container .effects .example:first-child {
    align-items: center;
  }
  main .second .container .effects .example:first-child .top-block:after {
    top: -20px;
    left: 50px;
  }
  main .second .container .effects .example:nth-child(2) {
    align-items: center;
  }
  main .second .container .effects .example:nth-child(2) .top-block:after {
    top: -20px;
    left: 50px;
  }
  main .second .container .effects .example:last-child .top-block:after {
    top: -20px;
    left: 50px;
  }
  main .second .container .effects .example .top-block {
    width: auto;
    flex-direction: column;
  }
  main .second .container .effects .example .top-block + p {
    width: auto;
  }
  main .second .container .effects .example .line:after {
    left: 120px;
  }
  main .second .container .statistic {
    padding: 20px;
  }
  main .second .container .statistic p {
    font-size: 0.8rem;
  }
  

@media screen and (max-width: 425px) {
  html {
    font-size: 18px;
  }
  header {
    position: static;
  }
  header .container {
    justify-content: center;
  }
  header .container .logo {
    margin: 0;
  }
  header .container .info {
    display: none;
  }
  main #wave,
  main #wave-2,
  main #wave-3,
  main #wave-4 {
    display: none;
  }
  main h1 {
    font-size: 1.5rem;
  }
  main h2 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    padding: 0 20px;
    text-align: center;
  }
  main .first {
    background-color: #edf7f9;
    height: auto;
  }
  main .first .container {
    padding: 20px 0 20px 0;
    flex-wrap: wrap;
    justify-content: center;
    position: static;
  }
  main .first .container .img-container {
    display: none;
  }
  main .first .container .info-block {
    height: auto;
    margin: 0 0 20px 0;
    text-align: center;
  }
  main .first .container .info-block .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  main .first .container .info-block .title h1 {
    margin-right: 0;
  }
  main .first .container .info-block .title .underline {
    font-size: 1.5rem;
  }
  main .first .container .info-block .points {
    text-align: left;
    background-image: none;
    padding: 0 20px;
  }
  main .first .container .info-block .points .point {
    font-size: 0.9rem;
  }
  main .first .container .info-block .points .point:not(:last-child) {
    margin-bottom: 20px;
  }
  main .first .container .pills {
    display: flex;
    background-color: white;
    margin-bottom: 20px;
  }
  main .first .container .order-form {
    margin-top: 0;
  }
  main .first .background-img {
    display: none;
  }
  main .second {
    height: auto;
    padding: 0;
  }
  main .second .container {
    padding: 20px;
  }
  main .second .container h2 + p {
    font-size: 1rem;
    text-align: center;
  }
  main .second .container .effects {
    justify-content: center;
    margin-bottom: 0;
  }
  main .second .container .effects .example {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
  }
  main .second .container .effects .example:first-child {
    align-items: center;
  }
  main .second .container .effects .example:first-child .top-block:after {
    top: -20px;
    left: 50px;
  }
  main .second .container .effects .example:nth-child(2) {
    align-items: center;
  }
  main .second .container .effects .example:nth-child(2) .top-block:after {
    top: -20px;
    left: 50px;
  }
  main .second .container .effects .example:last-child .top-block:after {
    top: -20px;
    left: 50px;
  }
  main .second .container .effects .example .top-block {
    width: auto;
    flex-direction: column;
  }
  main .second .container .effects .example .top-block + p {
    width: auto;
  }
  main .second .container .effects .example .line:after {
    left: 120px;
  }
  main .second .container .statistic {
    padding: 20px;
  }
  main .second .container .statistic p {
    font-size: 0.8rem;
  }
 


 